body {
    background: url('../images/bg-footer.png') #fff;
    background-position: top left;
    background-repeat: repeat-y;
    color: #212121;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;


}
input[type="text"],
select,
.ui-button {
    outline: none !important;
    -webkit-outline: none !important;
}

button,
a {
    outline: none !important;
    -webkit-outline: none !important;
    transition: 300ms ease 0s;
    -webkit-transition: 300ms ease 0s;
    -moz-transition: 300ms ease 0s;
    -ms-transition: 300ms ease 0s;
    -o-transition: 300ms ease 0s;
}

a {
    color: #212121;
    font-weight: 400;
    font-size: 15px;
}

a:hover {
    color: #f0da0b;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    -webkit-outline: none !important;
}

.ui-slider-handle:focus,
button,
textarea {
    outline: none;
    -webkit-outline: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    color: #212121;
}
h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

p{
    font-size: 16px;
    color: #858788;
}
section,
footer,
hader,
nav {
    display: block;
}

img {
    display: block;
    max-width: 100%;
    outline: none;
}

input:focus {
    outline: none;
    -webkit-outline: none;
}
.btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    text-transform: uppercase;
    text-align: center;
}
.btn-yellow{
    background: #f0da0b;
    color: #000;
}
.btn-yellow:hover{
   background: #0c0e41; 
   color: #fff;
}
.btn-dark{
    background: #0c0e41; 
   color: #fff;
}
.btn-dark:hover{
    background: #f0da0b;
    color: #000;
}
.zoomImg {
    overflow: hidden;
    display: block;
    position: relative;
}

.zoomImg img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    width: 100%;
}

.zoomImg:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.wrapper {
    padding-top: 94px;
}

#header {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    -webkit-box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
    transition: 300ms ease 0s;
}

.bottom_header {
    padding: 10px 0;
}

.nav-right {
    width: calc(100% - 190px);
}

nav.menu>ul>li,
.account-link li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.account-link li {
    padding: 0 10px;
}

nav.menu>ul>li>a {
    display: block;
    margin: 0;
    position: relative;
    padding: 10px 20px;
    font-weight: 400;
    color: #858788;
}
nav.menu > ul > li > a img {
    display: inline-block;
    vertical-align: middle;
}

.menu-bar {
    display: none;
}

.menu-bar {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 15px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2px;
    background-color: #333c3b;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}
#header.schrink .logo {
    width: 80px;
    transition: 0.5s ease 0s;
}

.logo, .logo * {
    transition: 0.5s ease 0s;
}



@media(min-width: 991px) {
    nav.menu>ul>li a:hover,
    nav.menu>ul>li.active > a {
        color: #f0da0b;
    }
    

}
/*header css end*/


/*home page css start*/

#home-slider .owl-dots {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
#home-slider .owl-dots button.owl-dot {
    display: block;
    width: 10px;
    height: 10px;
    background: #eb460c;
    margin: 4px;
    border-radius: 50px;
}
#home-slider .owl-dots button.owl-dot.active{
   background: #0c0926; 
}
.product-box {
    border: 1px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    background: #fff;
    position: relative;
}
.product-box p {
    color: #000;
    font-size: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.reviews img {
    display: inline-block !important;
    width: auto !important;
    margin-right: 5px;
}
.reviews {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.price {
    font-weight: 700;
    font-size: 20px;
    color: #0c0e41;
}
.available-sec .product-slider .item img{
    width: auto;
}

.testimonial-slider .item img{

    width: auto;
}
.testimonial-slider .owl-stage-outer{
    padding:60px 0 40px 0;
}
.testimonial-slider .owl-stage-outer .item{
    padding: 10px;
}
.testimonial-box {
    text-align: center;
    background: #fff;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    border-top: 10px solid transparent;
}
.pro_pic {
    width: 84px;
    height: 84px;
    margin: -64px auto 0;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.testimonial-slider .owl-stage-outer .item .pro_pic img {
    width: 84px;
    height: 84px;
    object-fit: cover;
}
.testimonial-box h4 {
    margin: 15px 0;
    font-size: 22px;
    line-height: 20px;
}
.testimonial-slider.owl-carousel .owl-item.active.center {
    transform: scale(1.2);
    position: relative;
    z-index: 10;
}
.testimonial-slider.owl-carousel .owl-item.active.center .testimonial-box{
    border-top-color: #f4e12b;
}
.quotes {
    width: 25px !important;
    margin: 10px auto;
}
.testimonial-slider.owl-carousel .owl-dots{
    text-align: center;
}
.testimonial-slider.owl-carousel .owl-dot {
    width: 10px;
    display: inline-block;
    height: 10px;
    background: #f6a385;
    border-radius: 12px;
    margin: 3px;
}
.testimonial-slider.owl-carousel .owl-dot.active{
    background: #0c0926;   
}
/*home page css end*/

#footer {
    background: url('../images/bg-footer.png') #0e0e4c;
    background-position: top left;
    background-repeat: no-repeat;

}
.foo-col-1 p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    padding-right: 50px;
}
.top_footer {
    padding: 60px 0 40px 0;
}
.foo-col-2 li a, .foo-col-2 li b, .foo-col-2 li  {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.foo-col-2 li b {
    display: block;
    font-weight: 600;
}
.foo-col-2 li {
    margin-bottom: 10px;
}
.foo-col-2 li a:hover {
    color:#f4e12b;
    margin-left: 5px;
}

#footer h6 {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    position: relative;
}
ul.foo-social li span {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #26275f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
ul.foo-social li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

ul.foo-social li span img {
    width: 20px;
}

ul.foo-social li a {
    color: #fff;
}
ul.foo-social li a:hover {
    color:#f4e12b;
    margin-left: 5px;
}
.mob-col {
    padding-left: 50px;
    border-left: 1px solid #545689;
}

/*about us page css start*/
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner-cap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.banner-cap h2, .mid-title {
    color: #0d0d41;
    text-shadow: 5px 5px 6px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}
.banner-cap p {
    max-width: 500px;
    margin: 0;
}
.cleno-mvv-box {
    padding: 10px;
    border: 1px solid #a1a1ad;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
    background: #fff;
}

/*about us page css end*/

/*contact us page css start*/

.location-box, .form-box {
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
}
.location-box img {
    margin: 0 auto 15px;
}
.location-box table {
    width: 100%;
}
.location-box table th {
    color: #121131;
}
.form-box .form-control {
    background: #f5f5f7;
    border-color: #f5f5f7;
    height: 50px;
    color: #000;
}
.form-box textarea.form-control{
    height:110px;
    resize: none;
}
.form-control:focus {
    border-color: #ccc;
    box-shadow:none;
}

/*contact us page css end*/

/*login page css start*/

.login-box {
    max-width: 800px;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
}
.login-box .form-group{
    position: relative;
}

.login-box .form-control {
    height: 55px;
}
.login-box .form-group span {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
}
.login-box .form-group a {
    color: #5b5988;
}
.login-box .form-group a:hover{
    text-decoration: underline;
    color: #f0da0b;
}
.login-box .btn-dark{
    width: 200px;
    padding:14px 20px;
    font-weight: 700;
}
/*login page css end*/

/*product category page css start*/

.product_rating {
    position: absolute;
    width: 52px;
    height: 30px;
    top: 10px;
    right: 10px;
    background: #f0da0b;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


/*product category page css end*/

/*manage address page css start*/

.address-btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 150px 0;
    background: #fff;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
}
.address-btn:hover {
    background: #0e0e4c;
    border-color: #0e0e4c;
}
.divider {
    text-align: center;
    margin: 15px 0;
    position: relative;
}

.divider::after {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
    content: "";
}
.divider span {
    text-transform: uppercase;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 10px;
}


/*manage address page css end*/

/*product page css start*/

.owl-carousel-box {
    background: #f5fafd;
    border-radius: 6px;
    padding-bottom: 30px;
    border: 1px solid #efefef;
}


#producSlider {
    width:100%;
    padding-bottom: 10px;
    padding: 70px 0;
}

#producSlider .item img{
    width: auto;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.thumb{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 81px;
    overflow: auto;

}
.thumb .button {
    width: 81px;
    height: 81px;
    overflow: hidden;
    padding: 8px;
    margin: 0 5px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
}
.thumb .button:hover{
    border: 1px solid #d7ad61;
}
.productdetails-box h2, .productdetails-box h2 a {
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}
.productdetails-box h2 a:hover{
    color:#f0da0b;
}

.form-control:focus{
    -webkit-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #FFE2AD;
}
ul.qty_input {
    display: flex;
    max-width: 140px;
    margin-bottom: 20px;
}
ul.qty_input li button {
    background: #fff;
    font-size: 19px;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
}
ul.qty_input input[type="text"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    height: 40px;
    text-align: center;
}
ul.qty_input li:first-child button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
ul.qty_input li:last-child button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wheretouse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background: #fff;
    font-weight: 700;
}

.tab-sec .nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    background: #2b3046;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.tab-sec .nav-tabs .nav-item {
    margin-bottom: 0;
}
.tab-sec .nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 0;
}
.tab-sec .nav-tabs .nav-link.active {
    color: #fff;
    background-color:transparent;
    border-bottom: 1px solid #e5d541;
}
.tab_box {
    padding: 20px 0;
}
.tab_box ul {
    padding: 10px 0 0px 30px;
    position: relative;
}
.tab_box ul::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 41px;
    width: 2px;
    height: 100%;
    background: #f0da0b;
}
.tab_box ul li {
    margin-bottom: 10px;
    font-size: 18px;
    position: relative;
    padding-left: 40px;
}
.tab_box ul li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/dots.jpg') no-repeat;
    width: 24px;
    height: 24px;
}

/*product page css end*/

/*faq page css start*/

.accord-box button {
    width: 100%;
    border: none;
    background: #0d0d49;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}
.crd-body {
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 8px;
}


/*faq page css end*/

/*cart page css start*/

.faq-sec .table-responsive {
    max-height: 340px;
    overflow: auto;
}

.faq-sec table td{
    background: #fff;
}
.faq-sec table td img {
    width: 60px;
    margin: 0 auto;
}
.faq-sec table td{
    vertical-align: middle;
}
.delete-btn{
    border: none;
    background: transparent;
    padding: 0;
}
.faq-sec table .qty_input button,
.faq-sec table .qty_input input[type="text"] {
    background: #0e0e4c;
    color: #fff;

}
.offer-box {
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 10px 0;
    border-radius: 5px;
}
.offer-box td {
    padding: 10px 0;
    border-top-style: dashed;
}
.total-box.offer-box td{
    border: none;
}
/*cart page css end*/